*{
  padding:0;
  margin:0;
}
body{
  font-family:sans-serif;
  line-height:1.4;
  font-size:16px;
  
}
.container{
  border:5px solid black;
  width:825px;
  margin:50px auto;
}

h2{
  text-transform:uppercase;
  text-align:center;
  background-color:#f7f7f7;
  font-size:22px;
  padding:20px;
  position:relative;
}
h2::after{
  content:"sale";
  font-size:12px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #ec2f2f;
  padding:7px 15px;
  color:#fff;
  display:inline-block;
  position:absolute;
  top:-17px;
  left:-34px;
  letter-spacing: 2px;
}

.price{
  font-size:24px;
}
.free{
  color:#777;;
  text-transform:uppercase;
  font-size:12px;
  font-weight: bold;
  margin-bottom:20px;
}
.ready{
  padding-bottom:10px;
}
.details{
  list-style:square;
  margin-left:20px;
}
.details li{
  padding-bottom:10px;
}
.colors{
  margin-top: 25px;
}
.colors span{
  padding: 3px 13px;
  margin-right:10px;
}
.color:last-child{
  margin-right: 0;
}
.c1{
  background-color: #000;
}
.c2{
  background-color: #2f62b2;
}
.c3{
  background-color: #e91538;
}
.c4{
  background-color: #f0bf1e;
}
.c5{
  background-color: #7cfc00;
  /* background-color: #90cc20; */
}
.c6{
  /* background-color: #6e2525; */
  background-color: #882514;
}

h3{
  text-transform: uppercase;
  font-size:18px;
  padding-top:25px;
  padding-bottom: 15px;
}
a:any-link, a:visited{
  color:black;
}
a:hover, a:active{
  text-decoration: none;
}
button{
  font-size:18px;
  text-transform: uppercase;
  color:white;
  background-color: black;
  border:none;
  cursor: pointer;
  width:100%;
  padding:10px;
  margin: 0 auto;
}
button:hover{
  color:black;
  background-color: white;
  border-top:5px solid #000;
}